.color1{
    background-color: aqua;
    width: 100%;
    height: 50px;
}
.color2{
    background-color: red;
    width: 100%;
    height: 400px;

}
.color3{
    background-color: purple;
    width: 100%;
    height: 50px;

}